/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Classe di debug */
.debug {
    border: 1px solid red;
}

li {
    list-style-type:none;
}

/* Header della card */
.card-header{
    text-align: center;
}
